<p><%= link_to 'My Conversations', :conversations %></p><br>
<b>Conversations</b><br><br>
<ol class="microposts">
<li>
<span class="destination"><b>Inbox</b>
<%= render mailbox.inbox %>
</span>
<span class="destination"><b>Sentbox</b>
<%= render mailbox.sentbox %>
</span>
<div align="center">
<%= link_to 'Start Conversation', :new_conversation %>
</div>
</ol>
</li>